.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;  
}

.col-30 {
  font-size: 2.4em;
  margin-top: 0.15em;
}

.col-70 {
  display: flex;
}

li {
  list-style: none;
  margin: 0.5em;
}